<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rebel.permissions">

    <application>
        <activity android:name=".BaseActivity"
                  android:theme="@style/Theme.AppCompat.Light.Dialog" />
    </application>

</manifest>